**/.git
**/.gitignore
**/.vscode
**/.idea
**/__pycache__
**/.pytest_cache
**/*.pyc
**/*.pyo
**/*.pyd
.Python
**/venv
**/env
**/ENV
**/data
**/.DS_Store
**/node_modules
**/.next
**/dist
**/build
**/*.log

